.cntryflag{
    width:780px;
    height:450px;
    margin-left:270px;
}
h1{
    margin-left: 270px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:indigo;
} 